*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Color palette sourced from https://www.color-hex.com/color-palette/110257 phs yb 2021-2022 #8 Color Palette */
:root {
    --red: #f43c4e;
    --orange: #f97654;
    --yellow: #f9f025;
    --green: #67d03b;
    --blue: #126de3;
    --white: #fff;
    --black: #000000;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    background-color: var(--white);
    line-height: 1.4;
    text-align: center;
}

h1 {
    margin: 50px;
    font-size: 2.5rem;
    color: var(--blue);
}

h2 {
    font-size: 2.0rem;
    color: var(--red);
    padding: 10px;
}

h3 {
    font-size: 1.5rem;
    color: var(--green);
}

p {
    font-size: 1.25rem;
    color: var(--black);
    padding: 30px;
}

#link-button {
    display: inline;
    float: left;
    border-radius: 4px;
    border-style: none;
    box-shadow: 0 2px 2px 0 var(--black);
    color: var(--white);
    background-color: var(--orange);
    cursor: pointer;
    font-size: 1.25rem;
    padding: 1em 1em;
    margin: 20px;
}

.timer-box {
    display: inline;
    float: right;
    border-radius: 50%;
    border-style: none;
    box-shadow: 0 8px 16px 0 var(--black);
    color: var(--black);
    background-color: var(--yellow);
    font-size: 4rem;
    padding: 1em 1.5em;
    margin: 10px 30px;
}

#start-button {
    border-radius: 4px;
    border-style: none;
    box-shadow: 0 2px 2px 0 var(--black);
    color: var(--black);
    background-color: var(--green);
    cursor: pointer;
    font-size: 2rem;
    font-weight: bolder;
    padding: 1em 2em;
    margin: 60px;
}

.card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px 5px var(--blue);
    width: 60%;
    align-items: center;
}

.rules-card {
    padding: 2px 15px;
    margin: 10px;
}

.questions-card {
    padding: 2px 15px;
    margin: 10px;
    height: 600px;
    align-content: center;
    display: block;
}

.score-card {
    padding: 2px 15px;
    margin: 10px;
}

.winner-card,
.loser-card {
    padding: 5px 15px;
    margin: 10px;
    height: 150px;
    align-content: center;
    display: block;
}

.scoreboard-card {
    padding: 5px 15px;
    margin: 50px 250px;
    height: 500px;
    align-content: center;
    box-shadow: 5px 5px 5px 5px var(--green);
    display: block;
}

.hide {
    display: none;
}

.options-button-one,
.options-button-two,
.options-button-three,
.options-button-four,
#enter {
    border-radius: 4px;
    border-style: none;
    box-shadow: 0 2px 2px 0 var(--black);
    color: var(--black);
    background-color: var(--orange);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 1em;
    margin: 20px;
}

#response {
    color: var(--blue);
    padding-top: 20px;
    border-top: 2px solid var(--blue);
    font-size: 1.2rem;
}

#zero-score {
    color: var(--red);
    padding-top: 50px;
    font-size: 1.5rem;
}

/* #final-score {} */

/* .scoreboard {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
} */

.message {
    margin: 5px;
}